*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    /* background-image: url('assets/images/Wit.png');
    */
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Staatliches', cursive;

Thin 100
Extra-light 200
Extra-light 200 italic
Light 300
Extra-bold 800
*/

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: yellowgreen;
}

.inner-header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: tomato; */
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 32px;
}

.logo-container h1 span{
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
}
.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
   display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.navigation a:last-child {
    padding-right: 0;
}

/*HERO*/
.hero-image {
  background-image: url("../images/Wit.png");
  background-color: cornsilk;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  margin: 15% auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
 color: white;

}

.hero-text h1 {
  font-size: 50px;
  text-shadow: 2px 2px 8px black;
}

.hero-text h3 {
  font-size: 32px;
  color: rgba(255,255,255, 0.9);
  text-shadow: 2px 2px 8px black;
  padding-bottom: 15px;
}

/********* MODAL************/
/* button style */
.button {
    background: yellowgreen;
    padding: 1em 2em;
    color: white;
    border: 0;
    font-size: 26px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;

}

.button:hover {
    background: #333;
}

/* modal style */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

}

.modal-content {
    background-color: #f4f4f4;
    /* 20% is how far down the modal will appear in the window/ auto is left and right*/
    margin: 20% auto;
    width: 20%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0, 0.2),0 7px 20px 0 rgba(0,0,0, 0.17);
    /* for key frame // fade in*/
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header {
 background-color: yellowgreen;
 padding: 15px;
 color: white;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
}

.modal-header h2, .modal-footer h3 {
  font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.modal-body {
  font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
}

.modal-body span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.modal-footer {
    background-color: yellowgreen;
    padding: 10px;
    color: white;
    text-align: center;
}
.closeBtn {
    color: #ccc;
    float:right;
    font-size: 30px;
    color: white;
    
}

.closeBtn:hover, .closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* key frame */
@keyframes modalopen {
    from{opacity: 0;}
    to {opacity: 1;}
}


/*what is wit section*/

.what-is-wit {
  font-family:  'Montserrat', sans-serif;
  background-color: yellowgreen;
 padding-top: 40px;
 padding-bottom: 40px;
 color: white;
 text-align: center;
}

.what-is-wit h2 {
  font-size: 36px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.733);
}

.what-is-wit h4 {
  font-size: 24px;
  /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.733); */
  font-style: italic;
  max-width: 100%;
  min-width: auto;
  
}

.wit-content
{
  max-width: 100%;
  min-width: auto;
  margin-right: 200px;
  margin-left: 200px;
  padding: 30px;
  text-align: center;
  background-color: white;
  font-weight: normal;
  font-size: 16px;
  color: gray;
}
.wit-content span {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.733);
text-transform: uppercase;
}

/*JOKE OF THE DAY SECTION*/

.joke-of-day {
  font-family:  'Montserrat', sans-serif;
  background-color: white;
 padding-top: 40px;
 padding-bottom: 40px;
 color: yellowgreen;
 text-align: center;
 font-size: 26px;
 text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
}
/********* MODAL************/

/*MEDIA QUERY BREAKPOINTS*/

.example {
    padding: 20px;
    color: white;
  }

  	
/* @media <media_type> connector ( <query> ) */


  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
     .inner-header {
        display: flex;
        flex-wrap: wrap;
    }
    /* .example {background: red;} */
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    /* .inner-header {}
    .example {background: green;} */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* .inner-header {}
    .example {background: blue;} */
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* .inner-header {}
    .example {background: orange;} */
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
    /* .example {background: pink;} */
  }

  @media print {}
